<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamteam.carpuwl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dreamteam.hackwaterloo.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Dreamteamtheme" >
        <activity
            android:name="com.dreamteam.hackwaterloo.activities.ActivitySplashPage"
            android:noHistory="true"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dreamteam.hackwaterloo.activities.ActivityLogIn"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity android:name="com.dreamteam.hackwaterloo.activities.ActivityMain" />
        <activity android:name="com.dreamteam.hackwaterloo.activities.ActivityDetailedEvent" />
        <activity android:name="com.dreamteam.hackwaterloo.activities.ActivityDetailedPager" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.NoActionBar" />
    </application>

</manifest>